
//colors
$bg-color: #F3F7F4;
$contact-bg-color:#101C21;
$text-color: #283337;
$secondary-text-color:#40494D;
$contact-text-color:#CFD2D3;
$contact-nav-color:#878D90;
$copyright-color:#9FA4A6;

//fonts
$first-font: Arial;
$second-font:'Times New Roman';