@use "../abstract/mixins";
@use "../abstract/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

a {
    text-decoration: none;
}


html,
body {
    overflow-x: hidden;
}


/*Scroll bar */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$contact-bg-color;
    border-radius: 50px;
}